.card{
    border: 1 solid #aaa;
}

.field {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

 .name{
    padding-top: 0rem;
}

.field .control .button {
    background-color: rgb(73, 173, 78);
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}